dist-newstyle
*.y
*.x
*.bak
Grammar.tex
src/Grammar

churf
llvm.ll
/language
.vscode/

src/GC/lib/*.o
src/GC/lib/*.so
src/GC/lib/*.a
src/GC/tests/*.out
src/GC/tests/logs
test_program_result
output/
*.o
*.out
*.aux
*.log
